body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul, ol {
        padding: 0;
        margin: 0;
        list-style-type: none;
}
a {
    text-decoration: none;
}
button{
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.site-header{
    height: 72px;
    display: flex;
    justify-content:space-between;
    padding: 0px 156px 0px 156px ;
}
.header-nav{
    display: flex;
    
}
.nav-menu{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-left: 76px;
}
.nav-menu > li {
    padding-top: 24px;
    padding-right: 40px;
}
.addres-block{
    display: flex;
}
.logo{
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    padding-top: 24px;
    color: #4d5ae5
}
.logo span{
    color: #2e2f42;
}
.navigate{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2e2f42;
}
.navigate:hover {
    color: #404bbf;
}
.navigate:focus {
    color: #404bbf;
}
.navigate:visited {
    color: #404bbf;
}
.header-addres{
    font-style: normal;
}
.addres-block{
    padding-top: 24px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.addres-block-item{
    color: #434455;
    padding-right: 40px;
}
.addres-block-item:hover{
    color: #404bbf;
}
.addres-block-item:focus {
    color: #404bbf;
}
.hero {
    background-color: #2E2F42;
    height: 600px;
    padding-top: 188px;
}

.hero-text {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.12px;
    width: 496px;
    margin: auto;
    margin-bottom: 48px;
    line-height: 1.07;
}
.hero-button {
    font-family: "Roboto", sans-serif;
    display: block;
    margin: auto;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border: 0px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color:#FFFfff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}
.hero-button:hover {
    background-color: #404BBF;
}
.hero-button:focus {
    background-color: #404BBF;
}
.about-as{
    margin-bottom: 240px;
}
.about-as h2{
    display: none;
}
.about-as-list{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.about-as-block{
    display: block;
    width: 264px;
    margin: 0px 24px 0px 0px;

}
.list-item{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-top: 32px;
    color: #2e2f42;
}
.list-text{
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 32px;
}
.our-team{
    background-color: #F4F4FD;

}
.section-head{
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 0;
}
.list-position{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 72px 144px ;
}
.item-paddind{
    margin: 48px 12px 0px 12px;
    background-color: #FFFFFF;
    
}
.footer-style{
    height: 312px;
    background:#2E2F42;
    padding: 101px 0 0 156px;
}
.footer-text{
    width: 264px;
    color:#F4F4FD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.footer-logo-text {
    color: #F4F4FD;
}


